#auth-wrapper {
    padding: 0px 0px 0px 0px;
    width: 100%; /* 너비를 100%로 설정하여 화면에 맞추기 */
    /* height: 100%; */
    
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
    /* background-image: url(assets/auth-background.png); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

.auth-parent {
    justify-content: center; /* 자식 요소를 수평 중앙 정렬 */

}

.auth-container {
    width: 100%; /* 화면 크기에 맞게 너비를 100%로 설정 */
    padding: 0px 20px 0px 20px;

    height: 100%;
    grid-template-columns: 7fr 5fr;
    column-gap: 78px;



}



.auth-jumbotron-box {
    width: 100%; /* 화면 크기에 맞게 너비를 100%로 설정 */
    grid-column: 1 / 2;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 상단에서 정렬 */

}
    
.auth-jumbotron-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-logo-icon {
    width: 50px;
    height: 50px;
    
    background-image: url(assets/barbell.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}
.auth-jumbotron-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 70px;
    
    color:rgba(0, 0, 0, 0.7);
}
    
.auth-jumbotron-text {
    font-family: 'GimhaeGaya';
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.2px;
    text-align: center;    
}

.auth-card {
    grid-column: 2 / 3;

    border-radius: 10px;
    padding: 50px 50px 70px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.auth-card-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.auth-card-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth-card-title-box {
    display: flex;
    justify-content: space-between;
}

.auth-card-title {
    color:rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.auth-card-bottom {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.auth-sign-in-error-box {
    margin-bottom: -4px;
}

.auth-sign-in-error-message {
    color: rgba(255, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    white-space: pre-wrap;
}

.auth-description-box{
    
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

.auth-description {
    color:rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-description-link {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    font-weight: 600;
}

.auth-oauth-box {
    display: flex; /* 버튼들을 수평으로 나란히 배치 */
    justify-content: space-between; /* 버튼들 사이에 간격을 줄 수 있음 */
    gap: 60px; /* 버튼 간의 간격을 조절 */
    width: fit-content; /* 버튼들에 딱 맞는 너비로 설정 */
    margin: 0 auto; /* 버튼 컨테이너를 수평 중앙 정렬 */
    padding-top: 30px;
}

.auth-oauth-google{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-image: url(assets/google_icon.png); /* 이미지 경로 */
}

.auth-oauth-kakao{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-image: url(assets/kakao_icon.png); /* 이미지 경로 */
}